body,
html {
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 0;
}
.flexcenter {
  display: flex;
  justify-content: center;
}
.end {
  display: flex;
  justify-content: flex-end;
}
button,
a {
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
}
